<!DOCTYPE html>
<html lang="en">
    <!-- Header partials -->
    <%- include('./partials/header.ejs') %> 
<body>
    This is smoothie page

      <!-- footer partials -->
      <%- include('./partials/footer.ejs') %> 
</body>
</html>